@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #222222;
  --primary: #ff6500;
  --secondary: #8fd14f;
  --warning: #fc4100;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
